body {
  text-align: center;
  color: gold;
  font-family: 'Merriweather', serif;
  background-color: #00540d;
background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}

.jumbotron{
  color: white
}

h3{
  color: red
}

img{
  align-content: center
}